html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #EAEAF4;
  display: flex;
  font-family: "Open Sans", "Light";
  margin: 0;
  min-height: 100%;
  width: 100%;
}

/*----------- Side Bar Section ------------*/

.sidenav {
  background-color: #1F1F3D;
  height: 100%;
  width: 25vw;
  position: fixed;
}

.ideabox-title {
  color: #E9E9F3;
  padding-left: 7%;
}

.line {
  border-bottom: 1px solid #353567;
  width: 100%;
}

h4 {
  color: #BFBFDD;
  font-size: 18px;
  margin-top: 10%;
  padding-left: 7%;
}

.show-starred-button {
  background-color: #5356A4;
  border: 2px solid #353567;
  color: #E9E9F3;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 7%;
  margin-left: 7%;
  margin-top: 5%;
  padding: 3%;
  width: 85%;
}

/*----------- Idea Input Section -----------*/

main {
  margin-left: 25vw;
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 100%;
}

.main-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}

.main-form-section {
  background-color: #A9AAD2;
  border-left: 2px solid #EAEAF4;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.title-label {
  color: #1F1F3D;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 3%;
  padding-top: 10%;
}

.input-title {
  border: 2px solid #5356A4;
  border-radius: 3px;
  color: #1F1F3D;
  font-size: 35px;
  height: 5vh;
  text-align: start;
}

.body-label {
  color: #1F1F3D;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 3%;
  padding-top: 7%;
}

.input-body {
  border: 2px solid #5356A4;
  border-radius: 3px;
  color: #1F1F3D;
  font-family: "Open Sans", "Light";
  font-size: 25px;
  height: 15vh;
}

.save-button {
  background-color: #1F1F3D;
  border: 2px solid #5356A4;
  border-radius: 3px;
  color: #E9E9F3;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  height: 7vh;
  margin-top: 7%;
}

.save-button:disabled {
  background-color: #5356A4;
  cursor: not-allowed;
}

.search-ideas-line {
  border: 1px solid #5356A4;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  height: 7vh;
  margin-top: 7%;
  width: 100%;
}

.input-search {
  font-size: 20px;
  color: #1F1F3D;
}

.input-search::placeholder {
  color: #5356A4;
  font-size: 20px;
  opacity: .75;
  padding-bottom: 0;
  text-align: left;
}

.icon-box {
  align-items: center;
  background-color: #353567;
  display: flex;
  height: 7vh;
  justify-content: center;
  width: 4vw;
}

.search-icon {
  background-color: #353567;
  height: 5vh;
  padding: 1.5%;
  width: 2vw;
}

.input-search {
  width: 100%;
}

/*----------- Idea Card Section ------------*/

.new-ideas-section {
  background-color: #EAEAF4;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: flex-start;
}

.card-grid {
  display: grid;
  grid-gap: 3%;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 3.5%;
  padding-left: 2.5%;
  padding-top: 2.5%;
}

.new-ideas-card {
  border: 2px solid #1F1F3D;
  border-radius: 2px;
  color: #1F1F3D;
  display: flex;
  flex-direction: column;
  height: 43vh;
  justify-content: space-between;
  width: 21vw;
}

.toolbar-images {
  background-color: #1F1F3D;
  display: flex;
  flex-direction: row;
  height: 13%;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.delete:hover {
  content: url('./assets/delete-active.svg');
}

.small-images {
  cursor: pointer;
  display: flex;
  height: 5vh;
  justify-content: space-between;
  margin: 0;
  width: 3vw;
}

.idea-title-body {
  background-color: #FFFFFF;
  height: 82%;
  overflow: auto;
  padding-left: 7%;
  padding-right: 7%;
  overflow-wrap: break-word;
}

.idea-title {
  font-size: 30px;
}

.idea-body {
  font-size: 30px;
  font-weight: lighter;
}

.comment-section {
  background-color: #5356A4;
  border-top: 2px solid #1F1F3D;
  display: flex;
  flex-direction: row;
  height: 5vh;
  justify-content: flex-start;
  margin: 0;  
}

.comment-option {
  color: #E9E9F3;
  margin-bottom: 4%;
  margin-top: 4%;
}
